<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="{{subtitle}}">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>

    <span class="menu-trigger writer-icon animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>
    <div class="hero-image hero-a-great-story"{% if image %} style="background: url(/img/{{image}}) center center no-repeat;background-size:cover;"{% endif %}>
        <noscript>
            <div class="no-js-menu">
                <ul>
                    <li><i class="entypo-home"></i><a href="/">keshav.is</a>/</li>
                    <li><i class="entypo-user"></i><a href="..">{{each}}</a></li>
                    <li><i class="entypo-chart-area"></i><a href=".">{{title}}</a></li>
                </ul>
            </div>
        </noscript>
    </div>

    <div class="container">
        <div class="row">
            <div id="menu">
                <ul>
                    <li><i class="entypo-home"></i><a href="/">keshav.is</a>/</li>
                    <li><i class="entypo-user"></i><a href="..">{{each}}</a></li>
                    <li><i class="entypo-chart-area"></i><a href=".">{{title}}</a></li>
                </ul>
            </div>
            <div class="col-xs-12 main-content single-content">
                <p class="meta">
                    <a href="/">Keshav Saharia</a> on {{posted}}
                </p>
                {{ markdown | safe }}

                <div class="single-footer">
                    <div class="social clearfix">
                        <a class="social-icon" href="#">
                            <i class="entypo-twitter"></i>
                        </a>
                        <a class="social-icon" href="#">
                            <i class="entypo-facebook-squared"></i>
                        </a>
                    </div>

                    {% if tag %}
                    <div class="category-list">
                        <p>Tags</p>
                        <ul>
                            {% for t in tag %}
                            <li><a href="/tag">{{t}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include "js/scripts.html" %}
</body>
</html>
