{% extends "template/sidebar.html" %}

{% block content %}
<div class="nav">
    <a href="#" class="select-posts active">Writing</a>
    <a href="#" class="select-categories">Building</a>
    <a href="#" class="select-categories">Coding</a>
    <a href="#" class="select-categories">Working</a>
</div>
<div class="home-page-posts animated fadeIn ">
    {% for postId, post in writing %}
    <div class="post">
        <section>
            <div class="post-preview col-xs-9  no-gutter">
                <h2><a href="/writing/{{postId}}">{{post.title}}</a></h2>
                <p>{{post.text}}</p>
                <p class="meta">
                    <a class="" href="category.html">{{post.date}}</a>
                </p>
            </div>

            <div class=" col-xs-3 no-gutter">
                <img src="img/profile-1.jpg" class="user-icon">
            </div>

        </section>
    </div>
    {% endfor %}
</div>

<div class="home-page-categories hide animated fadeIn ">
    <div class="category row">
        <section>
            {% for projectId, projectData in project %}
            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>{{projectData.title}}</h2>
                <a href="{{projectData.url}}">
                    <img src="/img/project/{{projectId}}.jpg" alt="category-image">
                </a>
            </div>
            {% endfor %}
        </section>
    </div>
</div>
<div class="home-footer">
    <a href="/a">About</a>
    <i class="link-spacer"></i>
    <a href="/terms">&copy; Keshav Saharia, 2017</a>
</div>
{% endblock %}
