<!DOCTYPE HTML>
<html>
	<head>
		{% include "include/meta.njk" %}
		{% include "include/css.njk" %}
	</head>
	<body>
		<div id="page-wrapper">
			<header id="header" class="alt">
				<h1><a href="/">Keshav Saharia</a></h1>
				<nav>
					{% for categoryId in category %}
						<a href="/{{ categoryId }}">{{ categoryId }}</a>
					{% endfor %}
				</nav>
			</header>
			<section id="banner">
				<div class="inner">
					<h2>
						<strong id="quote">I make code and stuff.</strong>
						<!-- <br><small style="font-size:0.5em;margin-left:50px;">- <span id="author">mom</span></small> -->
					</h2>
					<p style="text-transform:none">I've created <a href="#coding">websites that reach millions of people</a>,
						sold <a href="#education">two startup companies</a>, written down various <a>thoughts</a> I've had, and <a href="#projects">built several interesting projects</a> in my free time.</p>
				</div>
			</section>
			<section id="wrapper">
				<section id="education" class="wrapper spotlight style1">
					<div class="inner">
						<a href="#" class="image"><img src="/img/teaching/java.png" alt="" /></a>
						<div class="content">
							<h2 class="major">I design innovative education content.</h2>
							<p>In early 2013, I started <a href="https://techlab.education">Techlab Education</a> to bring high-quality computer science education to kids in the Bay Area. I scaled summer camp operations over multiple locations, designed innovative technology curriculum, and after selling the business in 2018, continue to serve as an advisor and board member.</p>
							<p>In late 2014, I co-founded an education technology startup <a href="https://hulaloop.io">Hulaloop</a>, which brought the <a href="https://pythonroom.com">Pythonroom</a> teaching tool to over half a million students around the world. In 2017, Hulaloop was acquired by <a href="https://tynker.com">Tynker</a>, and the innovative coding platform and teaching methodology we developed for teaching Python now reaches over 60 million kids.</p>
							<a href="/teaching" class="special">Check out my education projects</a>
						</div>
					</div>
				</section>
				<section id="learning" class="wrapper alt spotlight style2">
					<div class="inner">
						<a href="#" class="image"><img src="/img/kungfu.png" alt="" /></a>
						<div class="content">
							<h2 class="major">I enjoy learning outside my area of expertise.</h2>
							<p>
								I know several languages, most recently working on improving my <a href="/learning/mandarin">conversational Mandarin</a>, and can converse well in Spanish and Hindi. I also made <a href="http://kitafi.com">this website to teach the Swahili language</a> after studying it for three years in college. I practice the <a href="/learning/wing-chun">Wing Chun</a> style of martial arts, and lived in China from late 2015 to early 2016 studying kung fu, Tai Chi, and Qi Gong, under my Sifu Wong Long-fai.
							</p>
							<p>
								I'm also a co-author on a medical research paper published in 2017 on <a href="https://www.degruyter.com/view/j/bmte.ahead-of-print/bmt-2016-0148/bmt-2016-0148.xml">rapid, automated mosaicking of the human corneal subbasal nerve plexus</a> - I worked on the underlying image processing algorithms, graph theory implementations, and technical writing.
							</p>
							<a href="/learning" class="special">Check out what I've been learning</a>
						</div>
					</div>
				</section>

				<!-- Three -->
					<section id="three" class="wrapper spotlight style3">
						<div class="inner">
							<a href="#" class="image"><img src="/img/jarvis.jpg"></a>
							<div class="content">
								<h2 class="major">I build things for fun.</h2>
								<p>Some projects have no practical purpose, like an <a href="/building/arduino-coffeemaker">Internet-enabled coffee maker</a> or <a href="/building/jarvis">mobile robotic arm</a>. I once <a href="/building/basement">remodeled a basement</a> over two years while living in it. I also built <a href="/building/lego-cnc">a CNC milling machine</a>, <a href="/building/lego-logic">physical logic gates</a>, and <a href="/building/lego-head">a detailed head sculpture</a> with Legos.</p>
								<a href="/building" class="special">Check out what I've been building</a>
							</div>
						</div>
					</section>

				<!-- Four -->
					<section id="four" class="wrapper alt style1">
						<div class="inner">
							<h2 class="major">Coding projects</h2>
							<p>
								These are the projects I'm writing code for in my free time. Most of my work is open-source on <a href="https://github.com/keshavsaharia">Github</a>, and I'm always welcoming to collaborators.
							</p>
							<section class="features">
								<article>
									<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
									<h3 class="major">Sed feugiat lorem</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
									<a href="#" class="special">Learn more</a>
								</article>
								<article>
									<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
									<h3 class="major">Nisl placerat</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
									<a href="#" class="special">Learn more</a>
								</article>
								<article>
									<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
									<h3 class="major">Ante fermentum</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
									<a href="#" class="special">Learn more</a>
								</article>
								<article>
									<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
									<h3 class="major">Fusce consequat</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
									<a href="#" class="special">Learn more</a>
								</article>
							</section>
							<ul class="actions">
								<li><a href="#" class="button">Browse All</a></li>
							</ul>
						</div>
					</section>

			</section>

		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<h2 class="major">Get in touch</h2>
					<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
					<form method="post" action="#">
						<div class="field">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="4"></textarea>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send Message" /></li>
						</ul>
					</form>
					<ul class="contact">
						<li class="fa-home">
							San Francisco, CA<br>
							United States of America
						</li>
						<li class="fa-envelope"><a href="#">keshav@keshav.is</a></li>
						<li class="fa-linkedin"><a href="#">linkedin.com/keshavsaharia</a></li>
						<li class="fa-twitter"><a href="#">twitter.com/queshav</a></li>
						<li class="fa-facebook"><a href="#">facebook.com/keshavsaharia</a></li>
						<li class="fa-instagram"><a href="#">instagram.com/queshav</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</section>
		</div>

		<!-- Scripts -->
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>
			<!-- <script type="text/javascript">
			$(document).ready(function() {
				var quotes = [
					{ text: 'My son does computer stuff', author: 'mom' },
					{ text: 'Something to do with websites', author: 'dad' },
					{ text: 'He knows how to fix the wifi', author: 'sister' },
					{ text: 'So you\'re some kind of hacker?', author: 'irritating person at starbucks' }
				], qi = 0, qint = 4000;

				setInterval(function() {
					qi++;
					if (qi >= quotes.length) qi = 0;

					$('#quote').text(quotes[qi].text);
					$('#author').text(quotes[qi].author);
				}, qint);
			});
			</script> -->
	</body>
</html>
