{% extends "template/sidebar.html" %}

{% block content %}
<div class="nav">
    <a href="#" class="select-posts active">Posts</a>
    <a href="#" class="select-categories">Projects</a>
</div>
<div class="home-page-posts animated fadeIn ">
    <div class="post">
        <section>
            <div class="post-preview col-xs-10  no-gutter">

                <h2><a href="post.html">A great story never told</a></h2>
                <p>It was a cold December morning, as I sat out on my porch I decided today was the day. </p>

                <p class="meta">
                    <a class="" href="category.html">James Reddy</a> in <a class="" href="category.html">Storytime</a> <i class="link-spacer"></i> <i class="entypo-bookmark"></i> 23 minute read
                </p>
            </div>

            <div class=" col-xs-2  no-gutter">
                <img src="img/profile-1.jpg" class="user-icon user-1" alt="user-image">
            </div>

        </section>
    </div>

</div><!-- Home page posts -->

<div class="home-page-categories hide animated fadeIn ">
    <div class="category row">
        <section>
            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>Pythonroom</h2>
                <a href="category.html"><img src="img/cover-2.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>Techlab</h2>
                <a href="category.html"><img src="img/cover-4.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>curriculum.io</h2>
                <a href="category.html"><img src="img/cover-6.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>pseudocode.io</h2>
                <a href="category.html"><img src="img/cover-6.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>APCS graphics</h2>
                <a href="category.html"><img src="img/cover-6.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>spacecode</h2>
                <a href="category.html"><img src="img/cover-6.jpg" alt="category-image"></a>
            </div>

        </section>
    </div>
</div>
<div class="home-footer">
    <a href="post.html"> About</a>
    <i class="link-spacer"></i>
    <a href="post.html"> Writer 2014</a>
</div>
{% endblock %}
