html, body {
	margin: 0px;
	padding: 0px;
	background: #232527;
	color: #ffffff;
	font-family: monospace;
	height: 100%;
	width: 100%;
}
* {
	font-family: monospace;
}
header, body > main {
	padding: 10px 20px;
}
body > main > h2 {
	font-size: 24px;
	line-height: 40px;
	margin: 20px 0 0 0;
}
body > main > p,
body > main > pre,
body > main li {
	font-size: 16px;
	line-height: 24px;
	min-height: 24px;
	margin: 0px;
	position: relative;
}
body > main > p {
	margin-bottom: 20px;
}
body > main > p > input {
	left: 0px;
	padding-left: 30px;
	right: 0px;
	width: 100%;
	background: none;
	border: none;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
}
p.help {
	opacity: 0.7;
}
@media(min-width:900px) {
	header, body > main {
		padding: 25px 10%;
		max-width: 900px;
		display: block;
		margin: 0 auto;
	}
	body > main > p,
	body > main > pre,
	body > main li {
		font-size: 20px;
		line-height: 28px;
		min-height: 28px;
	}
	body > main > p > input {
		padding-left: 50px;
		font-size: 20px;
		padding-top: 0px;
	}
}
main > pre {
	color: rgb(0, 255, 0);
}
main > p > span,
main > p > input {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	height: 24px;
	line-height: 24px;
}
main > p > span {
}

main > p > input:focus {
	outline: none;
}
main > aside {
	float: left;
	overflow: hidden;
	width: 320px;
	min-height: 300px;
}
main > p > img {
	width: 100%;
	margin: 20px 0;
}
aside > img {
	width: 90%;
}
main > aside + main {
	display: block;
	min-height: 400px;
}
.previews {
	min-height: 400px;
}
.previews > h5 {
	font-size: 20px;
	line-height: 40px;
	margin: 0 0 10px 0;
}
.preview {
	width: 100%;
}
.preview > div,
.preview > a {
	width: 150px;
	height: 100px;
	margin-bottom: 5px;
	display: inline-block;
	position: relative;
	border: solid 1px rgba(255, 255, 255, 0.5);
}
.preview > a > div,
.preview > a > img,
.preview > div > div,
.preview > div > img {
	z-index: 1;
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
}
.preview > a > div,
.preview > div > div {
	z-index: 2;
	background: rgba(0, 0, 0, 0.5);
}
.preview > a > img,
.preview > div > img {
	width: 100%;
}
.preview > a > p,
.preview > div > p {
	z-index: 3;
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
}
.list a {
	display: block;
	color: white;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
}
.list a:hover,
.list a > *:hover {
	cursor: pointer;
}
.list a > label {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	border-bottom: solid 1px #ffffff;
}
.list a > span {
	text-decoration: none;
	opacity: 0.7;
	font-size: 12px;
}
@media(max-width:700px) {
	main > aside {
		float: none;
		width: 100%;
		min-height: 0;
		text-align: center;
	}
	main > aside > img {
		width: 50%;
		display: block;
		margin: 0 auto;
	}
	main > aside + main {
		min-height: 0;
	}
}
h3 {
	font-size: 24px;
	line-height: 36px;
	margin: 0;
}
aside > p {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	opacity: 0.8;
}
header > a {
	font-size: 16px;
	line-height: 20px;
}
header > a, p > a, h5 > a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}
header > a, p > a:hover, h5 > a:hover {
	color: rgba(255, 255, 255, 1.0);
	border-color: rgba(255, 255, 255, 0.8);
}
